.body{
    display: flex;
    flex-direction: column;
}
.container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.1);
    color:white;
    box-sizing:border-box;
    border-radius:2%;
    width: 25rem;
    padding: 2.5rem;

}
.line{
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
}
.btn {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: linear-gradient(0deg, rgb(132, 235, 177) 0%, rgba(144, 240, 184, 0.785) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #489aa798;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  justify-content: center;

}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #b9549b98;
}

.btn:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
.foot{
    display: flex;
    flex-direction: column;
    margin-top: 40vw;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: rgb(17, 5, 55);
}